@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

* {
    font-family: 'Kiwi Maru', serif;
    background-color: dimgrey;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 5vh;
}

.twitch {
    position: fixed;
    left: 1200px;
    top: 15px;
    width: 100px;
    height: 50px;
    border: outset #ffd800;
    border-style: outset;
    border-width: 2.5px;
    color: azure;
    background-color: #ff0000;
    border-radius: 100px;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-in 0.6s;
    font-size: 20px;
}

    .twitch:hover {
        box-shadow: inset 100px 0 0 0 #ffffff;
        border: thin black;
        border-style: outset;
        border-width: 2.5px;
        cursor: pointer;
        color: black;
    }

.volume {
    position: fixed;
    left: 1050px;
    top: 15px;
    width: 100px;
    height: 50px;
    border: outset #ffd800;
    border-style: outset;
    border-width: 2.5px;
    color: azure;
    background-color: #ff0000;
    border-radius: 100px;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-in 0.6s;
    font-size: 20px;
}

    .volume:hover {
        box-shadow: inset 100px 0 0 0 #ffffff;
        border: thin black;
        border-style: outset;
        border-width: 2.5px;
        cursor: pointer;
        color: black
    }

.discord {
    position: fixed;
    left: 180px;
    top: 15px;
    width: 100px;
    height: 50px;
    border: outset #ffd800;
    border-style: outset;
    border-width: 2.5px;
    color: azure;
    background-color: #ff0000;
    border-radius: 100px;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-in 0.6s;
    font-size: 20px;
}

    .discord:hover {
        box-shadow: inset 100px 0 0 0 #ffffff;
        border: thin black;
        border-style: outset;
        border-width: 2.5px;
        cursor: pointer;
        color: black
    }

.youtube {
    position: fixed;
    left: 900px;
    top: 15px;
    width: 100px;
    height: 50px;
    border: outset #ffd800;
    border-style: outset;
    border-width: 2.5px;
    color: azure;
    background-color: #ff0000;
    border-radius: 100px;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-in 0.6s;
    font-size: 20px;
}

    .youtube:hover {
        box-shadow: inset 100px 0 0 0 #ffffff;
        border: thin black;
        border-style: outset;
        border-width: 2.5px;
        cursor: pointer;
        color: black
    }

.gear {
    position: fixed;
    left: 330px;
    top: 15px;
    width: 100px;
    height: 50px;
    border: outset #ffd800;
    border-style: outset;
    border-width: 2.5px;
    color: azure;
    background-color: #ff0000;
    border-radius: 100px;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-in 0.6s;
    font-size: 20px;
}

    .gear:hover {
        box-shadow: inset 100px 0 0 0 #ffffff;
        border: thin black;
        border-style: outset;
        border-width: 2.5px;
        cursor: pointer;
        color: black
    }

.donate {
    position: fixed;
    left: 30px;
    top: 15px;
    width: 100px;
    height: 50px;
    border: outset #ffd800;
    border-style: outset;
    border-width: 2.5px;
    color: azure;
    background-color: #ff0000;
    border-radius: 100px;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-in 0.6s;
    font-size: 20px;
}

    .donate:hover {
        box-shadow: inset 100px 0 0 0 #ffffff;
        border: thin black;
        border-style: outset;
        border-width: 2.5px;
        cursor: pointer;
        color: black
    }

.home {
    position: fixed;
    left: 480px;
    top: 3px;
    border: none;
    font-size: 45px;
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: yellow;
}

    .home:hover {
        cursor: pointer;
    }

    .text {
        position: fixed;
        left: 50px;
        top: 100px;
        color: azure;
    }

    .gearpage2 {
        position: fixed;
        left: 1150px;
        top: 600px;
        border: dotted;
        font-size: 20px;
        color: black;
    }

    .gearpage2:hover {
        cursor: pointer;
    }

.gearpage1 {
    position: fixed;
    left: 50px;
    top: 600px;
    border: dotted;
    font-size: 20px;
    color: black;
}

    .gearpage1:hover {
        cursor: pointer;
    }

    .rr24_wrap {
        position: fixed;
        left: 25px;
        top: 150px;
        height: 250px;
        width: 185px;
    }

.rr24des {
    position: fixed;
    left: 35px;
    top: 150px;
    max-width: 150px;
    max-height: 30px;
    color: azure;
    background: fixed;
    background-color: rgb(128 128 128 / 0.35);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.rr24_wrap:hover .rr24des {
    visibility: visible;
    opacity: 1;
    transition: ease-in 0.3s;
    left: 155px;
    top: 150px;
    height: 400px;
    width: 320px;
}
   
.rr24 {
    position: fixed;
    left: 25px;
    top: 150px;
    height: 250px;
    width: 185px;
}

    .rr24:hover {
        transition: ease-in 0.3s;
        left: 25px;
        top: 150px;
        height: 400px;
        width: 300px;
        cursor: pointer;
    }

.ltdsn200des {
    position: fixed;
    left: 55px;
    top: 150px;
    max-width: 150px;
    max-height: 30px;
    color: azure;
    background: fixed;
    background-color: rgb(128 128 128 / 0.35);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.ltdsn200_wrap:hover .ltdsn200des {
    visibility: visible;
    opacity: 1;
    transition: ease-in 0.3s;
    left: 445px;
    top: 150px;
    height: 500px;
    width: 400px;
}

.ltdsn200 {
    position: fixed;
    left: 350px;
    top: 150px;
    height: 250px;
    width: 165px;
}

    .ltdsn200:hover {
        transition: ease-in 0.3s;
        left: 350px;
        top: 150px;
        height: 400px;
        width: 265px;
        cursor: pointer;
    }

.frankensteindes {
    position: fixed;
    left: 75px;
    top: 150px;
    max-width: 180px;
    max-height: 30px;
    color: azure;
    background: fixed;
    background-color: rgb(128 128 128 / 0.35);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.frankenstein_wrap:hover .frankensteindes {
    visibility: visible;
    opacity: 1;
    transition: ease-in 0.3s;
    left: 705px;
    top: 150px;
    height: 500px;
    width: 400px;
}

.frankensteinguitar {
    position: fixed;
    left: 640px;
    top: 150px;
    height: 250px;
    width: 165px;
}

    .frankensteinguitar:hover {
        transition: ease-in 0.3s;
        left: 640px;
        top: 150px;
        height: 400px;
        width: 265px;
        cursor: unset;
    }

.michaelvdes {
    position: fixed;
    left: 75px;
    top: 150px;
    max-width: 200px;
    max-height: 50px;
    color: azure;
    background: fixed;
    background-color: rgb(128 128 128 / 0.35);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.michaelv_wrap:hover .michaelvdes {
    visibility: visible;
    opacity: 1;
    transition: ease-in 0.3s;
    left: 960px;
    top: 150px;
    height: 500px;
    width: 400px;
}

.michaelschenker {
    position: fixed;
    left: 930px;
    top: 150px;
    height: 250px;
    width: 165px;
}

    .michaelschenker:hover {
        transition: ease-in 0.3s;
        left: 930px;
        top: 150px;
        height: 400px;
        width: 265px;
        cursor: pointer;
    }

.mikrodes {
    position: fixed;
    left: 75px;
    top: 150px;
    max-width: 200px;
    max-height: 50px;
    color: azure;
    background: fixed;
    background-color: rgb(128 128 128 / 0.35);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.giomikro_wrap:hover .mikrodes {
    visibility: visible;
    opacity: 1;
    transition: ease-in 0.3s;
    left: 25px;
    top: 150px;
    height: 500px;
    width: 400px;
}

.giomikro {
    position: fixed;
    left: 25px;
    top: 150px;
    height: 250px;
    width: 165px;
}

    .giomikro:hover {
        transition: ease-in 0.3s;
        left: 25px;
        top: 150px;
        height: 400px;
        width: 265px;
        cursor: pointer;
    }