@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

* {
    font-family: 'Kiwi Maru', serif;
    background-color: dimgrey;
}

.verification_container {
    display: flex;
    flex-direction: unset;
    justify-content: space-evenly;
    align-items: center;
    text-align: unset;
}

.seanofficialyttext {
    position: fixed;
    border: none;
    left: 22%;
    height: 50px;
    width: 50px;
    color: black;
    font-size: 100px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: yellow;
}

.continue_button {
    position: fixed;
    top: 30%;
    left: 30%;
    border: none;
    background: none;
    font-size: 35px;
}

    .continue_button:hover{
        cursor: pointer;
    }